# Compiled JavaScript files
**/*.js.map

# Node.js dependencies
node_modules/

# Firebase cache
.firebase/

# Firebase debug log
firebase-debug.log
firebase-debug.*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# OS specific
.DS_Store
Thumbs.db
